.square {
  margin: 8% auto;
  border: 1px solid rgb(39,128, 227);
  border-radius: 5px;
  width: 48%;
}

h2 {
  text-align: center;
  padding: 10px;
}

#text {
  padding: 10px;
  text-align: center;
}

#loginButton {
  border-radius: 5px;
}